/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}

/* Estilos para el título principal */
h1 {
    font-size: 36px;
    margin-top: 50px;
}

/* Estilos para el subtítulo */
h2 {
    font-size: 24px;
    margin-top: 10px;
}

/* Estilos para la lista de enlaces */
ul {
    list-style: none;
    padding: 0;
}

/* Estilos para los elementos de la lista */
li {
    margin-top: 20px;
}

/* Estilos para los enlaces */
a {
    text-decoration: none;
    color: #0077cc;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s;
}

a:hover {
    color: #005599;
}
